# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
ENV/

# Build / dist
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log

# Excel temporary files
~$*.xlsx

# Outputs 
output/*
!output/
!output/.gitkeep

